@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model X.PagedList.IPagedList<Question>
@using X.PagedList.Mvc.Core;


@if(Model.Any())
{
 <h1>Questions</h1>  
 <br />
 <ul>
    @foreach(var question in Model)
    {
     <li>
         @Html.Raw(question.Title)
         <div>Answers: @question.Answers.Count()</div>
         <div>BY <b style="color: blue">@question.User.UserName </b>Reputation: @question.User.Reputation</div>
         <div>@question.DateAsked</div>
         <div style="display: flex;margin-bottom: 2rem;">
            <div style="margin-right: 2rem;"><a asp-action="QuestionDetails" asp-route-questionId="@question.Id">Details</a></div>
            <div><a asp-action="AnswerQuestion" asp-route-questionId="@question.Id">Answer This Question</a></div>
                    @if(User.Identity.Name == question.User.Email)
                    {
                        <div style="margin-left: 2rem;"><a asp-action="AddTagToQuestion" asp-route-questionId="@question.Id">Add Tag To Question</a></div>
                    }
                </div>
    </li>       
    }
    </ul>
}
else
{
    <h2>No Question Asked Yet</h2>
}
<a asp-action="Index" asp-route-sortType="MostRecent" style="margin-right: 2rem">Most Recent Question</a>
<a asp-action="Index" asp-route-sortType="MostAnswered">Most Answered Question</a>

<div style="margin-top: 2rem;">
    <h3><a asp-action="CreateQuestion" asp-route-userEmail="@ViewBag.userEmail">Ask A Question</a></h3>
</div>

<div style="margin-top: 2rem;">
    <h3><a asp-action="AddRoleToUser">Add Role To User</a></h3>
</div>

<div style="margin-top: 2rem;">
    <h3><a asp-action="ShowAllQuestionsToAdmin">Show All Question To Admin</a></h3>
</div>


<nav aria-label="Question navigation" style="
    margin-top: 4rem;">
    @Html.PagedListPager(Model, page => Url.Action("SortQuestionsByMostAnswered", new {page = page}), 
    
    new X.PagedList.Web.Common.PagedListRenderOptions 
    {
        DisplayItemSliceAndTotal = false,
        ContainerDivClasses = new[] {"navigation"},
        LiElementClasses = new[] {"page-item"},
        PageClasses = new[] {"page-link"},
    })
    <input type="hidden" name="sortType" value="@ViewBag.sortType"/>
</nav>
